<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d9bc64">  <td>20/03/06 15:46:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQAExtentReport.BigPages()[pri:6, instance:UltimateQAExtentReport.UltimateQAExtentReport@2aa3cd93]">BigPages</td> 
  <td>main@222511810</td>   <td></td> </tr>
<tr bgcolor="d9bc64">  <td>20/03/06 15:46:26</td>   <td>-30244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQAExtentReport.FakeLandingPage()[pri:3, instance:UltimateQAExtentReport.UltimateQAExtentReport@2aa3cd93]">FakeLandingPage</td> 
  <td>main@222511810</td>   <td></td> </tr>
<tr bgcolor="d9bc64">  <td>20/03/06 15:46:22</td>   <td>-34799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQAExtentReport.FakePricingPage()[pri:2, instance:UltimateQAExtentReport.UltimateQAExtentReport@2aa3cd93]">FakePricingPage</td> 
  <td>main@222511810</td>   <td></td> </tr>
<tr bgcolor="d9bc64">  <td>20/03/06 15:46:13</td>   <td>-43127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQAExtentReport.Filloutform()[pri:1, instance:UltimateQAExtentReport.UltimateQAExtentReport@2aa3cd93]">Filloutform</td> 
  <td>main@222511810</td>   <td></td> </tr>
<tr bgcolor="d9bc64">  <td>20/03/06 15:46:41</td>   <td>-15299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQAExtentReport.InteractionPage()[pri:5, instance:UltimateQAExtentReport.UltimateQAExtentReport@2aa3cd93]">InteractionPage</td> 
  <td>main@222511810</td>   <td></td> </tr>
<tr bgcolor="d9bc64">  <td>20/03/06 15:46:36</td>   <td>-20617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQAExtentReport.LearnToAutomate()[pri:4, instance:UltimateQAExtentReport.UltimateQAExtentReport@2aa3cd93]">LearnToAutomate</td> 
  <td>main@222511810</td>   <td></td> </tr>
<tr bgcolor="d9bc64">  <td>20/03/06 15:46:00</td>   <td>-56855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQAExtentReport.LoginAutomation()[pri:0, instance:UltimateQAExtentReport.UltimateQAExtentReport@2aa3cd93]">LoginAutomation</td> 
  <td>main@222511810</td>   <td></td> </tr>
<tr bgcolor="d9bc64">  <td>20/03/06 15:45:57</td>   <td>-59911</td> <td>&nbsp;</td><td title="&gt;&gt;UltimateQAExtentReport.setUpTestInvokeBrowser()[pri:0, instance:UltimateQAExtentReport.UltimateQAExtentReport@2aa3cd93]">&gt;&gt;setUpTestInvokeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@222511810</td>   <td></td> </tr>
<tr bgcolor="d9bc64">  <td>20/03/06 15:45:56</td>   <td>-60261</td> <td title="&gt;&gt;UltimateQAExtentReport.setup()[pri:0, instance:UltimateQAExtentReport.UltimateQAExtentReport@2aa3cd93]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@222511810</td>   <td></td> </tr>
<tr bgcolor="d9bc64">  <td>20/03/06 15:47:00</td>   <td>3257</td> <td title="&lt;&lt;UltimateQAExtentReport.tearDown()[pri:0, instance:UltimateQAExtentReport.UltimateQAExtentReport@2aa3cd93]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@222511810</td>   <td></td> </tr>
<tr bgcolor="d9bc64">  <td>20/03/06 15:46:59</td>   <td>2738</td> <td>&nbsp;</td><td title="&lt;&lt;UltimateQAExtentReport.tearDownTest()[pri:0, instance:UltimateQAExtentReport.UltimateQAExtentReport@2aa3cd93]">&lt;&lt;tearDownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@222511810</td>   <td></td> </tr>
</table>
